@page
@model Attendance_WebApp.Pages.Admin.AdminHomeModel
@{
	<h2>Tổng Quan Hệ Thống</h2>

	<p>Số lượng giáo viên: @Model.TeacherCount</p>
	<p>Số lượng học sinh: @Model.StudentCount</p>
	<p>Số lượng lớp học: @Model.ClassCount</p>

	<h3>Quản lý tài khoản, lớp học, giáo viên</h3>
}
